html, body {
    text-decoration:none;
    font-family: helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f7f8fc;
    background: url('../images/brick.jpg') repeat;
}

/** Header **/
nav.navbar.navbar-expand-md {
    background-color: #688ab0;
}

div a.nav-link {
    text-transform:uppercase;
    font-weight:bold;
    padding: 20px 20px;
}

a.nav-link:hover {
    color: #2c405b;
}

a.nav-link {
    color: #f7f8fc;
}

li.nav-item {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

li.nav-item img.d-block {
    margin: 0 auto;
}

/** Slider **/
section.bg-slider {
    background-color: #000;
}

div.carousel-inner {
    max-height: 500px;
    width: 100%;
}

li.nav-item {
    padding-top: 5px;
}
/** Message **/
div.message {
    text-align: center;
    background-color: #ffffff;
    padding: 50px 50px;
    max-width: 50%;
    max-height: 100%;
    position:relative;
    margin: 0 auto;
    margin-top: -50px;
    border-top: 10px solid #688ab0;
    z-index: 1;
}

div.message h3 {
    text-transform:uppercase;
}

/** Lights **/
section.container.lights {
    margin-top: -213px;
}

div.col img {
    margin: 0 auto;
    height: 100%;
}

span.fa.fa-bars {
    color: #fff;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/** Brand **/
div.brand {
    margin-top: 50px;
    text-align: center;
    text-transform:uppercase;
    line-height: 30px;
    display:block;
    clear: both;
}
    div.brand h3 {
        font-family: 'Saira', helvetica, sans-serif;
        font-size: 36px;
    }
    div.brand p {
        font-family: 'Saira', helvetica, sans-serif;
        font-weight:lighter;
        font-size: 12px;
        word-spacing: 5px;
        letter-spacing: 10px;
        margin: 0;
        clear: both;
    }

/** Frames **/
div.col.frames {
    padding: auto;
    margin: auto;
}

div.frameItem.frameItemOne {
    border: #688ab0 solid 5px;
    width: 160px;
}

div.frameItem.frameItemOne img.d-block {
    width: 150px;
    height: 180px;
    border: 20px #fff solid;
    margin: 0 auto;
}

div.frameItem.frameItemTwo {
    border: #688ab0 solid 5px;
    width: 190px;
    margin: 20px auto;
}

div.frameItem.frameItemTwo img.d-block {
    width: 180px;
    height: 130px;
    border: 20px #fff solid;
    margin: 0 auto;
}

div.frameItem.frameItemThree {
    border: #688ab0 solid 5px;
    width: 230px;
    height: 280px;
}

div.frameItem.frameItemThree img.d-block {
    width: 220px;
    height: 260px;
    border: 20px #fff solid;
    margin: 10px auto;
}


/** Footer **/
.footer {
    background-color: #688ab0;
    height: 70px;
    margin-top: 20px;
}
.footer p{
    color: #ffffff;
    padding-top: 30px;
    margin: 0;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 5px;
    text-align: center;
}

/** Meida Queries **/

@media only screen and (max-width: 320px){
    div.message {
        max-width: 80%;
    }

    li.nav-item {
        margin: 0 auto;
        font-size: 12px;
    }

    section.container.lights {
        display: none;
    }

    div.brand {
        margin-top: 20px;
    }

    div.frameItem.frameItemOne,
    div.frameItem.frameItemTwo,
    div.frameItem.frameItemThree {
        margin: 10px auto;
    }

    div.footer p {
        font-size: 8px;
        letter-spacing: 2px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    section.container.lights {
        display: none;
    }

    div.col.frames {
        margin: auto;
        padding: auto;
    }

    div.footer p {
        font-size: 12px;
        letter-spacing: 4px;
    }
}
